body {
    background-color: rgb(185, 227, 185);
}

h1 {
    font-size: 6em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute; 
    top:10px
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    text-align: center;
}

div {
    display: block;
    margin-left: auto;
    margin-right: a;
    width: auto;
    height: auto;
}

.center {
    display: block;
    margin-left: 75%;
    margin-right: 25%;
    width: 20%;
    height: auto;
}

li {
    color: black;
}

.container {
    display: flex;
    flex-direction: center;
    justify-content: center;
}